#quad-picture-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-top: 75px;
}

#quad-picture-container > div {
    height: 85%;
    aspect-ratio: 1;
    rotate: 45deg;

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 55px;
}

/* The four inner containers*/
#quad-picture-container > div > div {
    min-width: 45%;
    box-sizing:border-box;
    height: 50%;
    margin: 2.5%;
    overflow: hidden;
    position: relative;

    box-shadow:  3px 3px 10px rgba(26, 26, 26, 0.55),  -3px -3px 10px rgba(26, 26, 26, 0.55);
}

.quad-picture-container-item {
    transition: margin-left 5s, margin-top 5s;
}

.quad-picture-item-3  {
    margin-left: -100px !important;
}

.quad-picture-gradient-border {
    aspect-ratio: 1 !important;
}

.quad-picture-item-1 > .quad-picture-gradient-border{
    left: -95%;
    top: -65%;
    margin-left: -20px;
}

.quad-picture-item-2 > .quad-picture-gradient-border{
    left: -205%;
    top: -65%;
    margin-top: -20px;
}

.quad-picture-item-3 > .quad-picture-gradient-border{
    top: -176%;
    left: -50%;
    margin-left: 20px;
}

.quad-picture-item-4 > .quad-picture-gradient-border{
    top: -175%;
    left: -160%;
    margin-top: 20px;
}

.quad-picture-picture-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center; 
    justify-content: center; 
}

.quad-picture-gradient-border {
    width: 350%;
    height: 350%;
    
    position: absolute;

    background-image: linear-gradient(to bottom left,  var(--white), var(--purpleGradientLighter), var(--orangeGradientLighter) ,var(--orangeGradient));
    padding: 50px;
}

.quad-picture-picture {
    width: 90%;
    height: 90%;
    position: absolute;
    overflow: hidden;

    display: flex;
    align-items: center; 
    justify-content: center; 
}


.quad-picture-picture > img{
    width: 150%;
    height: 150%;
    position: absolute;
    background-size: cover;
    object-fit: cover;
    rotate: -45deg;
}
@media (max-width: 500px) {
    #nav-logo {
        width:fit-content;
    }

    #nav-links {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    #quad-picture-container {
        display: none;
    }

    #banner-taline-outer {
        width: 100%;
    }

    #banner-container {
        height: fit-content !important;
    }


}

@media (max-width: 1439px) {
    
}

@media (max-width: 1888px) {
     #quad-picture-container {
        display: none;
    }

    #banner-taline-outer {
        width: 100%;
    }

    #banner-container {
        height: fit-content !important;
    }
}

@media (max-width: 2500px) {

}