/* - - - > Banner Start < - - -*/

#banner-container {
    height: calc(100vh - 60px);
    max-height: 800px;
    padding-top: 60px;
}

#banner-taline-outer {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#banner-taline-outer > div {
    height: max-content;
    text-align: center;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

#banner-taline-outer > div > h1 {
    color: var(--primaryContrast);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 55px;

}

#banner-taline-outer > div > h2 {
    color: var(--primaryContrast);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 45px;
}

/* - - - > Contact Start < - - -*/

#contact-container {
    width: 100%;
    height: 200px;

    overflow:hidden;

    display: flex;
    align-items: center; 
    justify-content: center; 
    
    margin-top: 100px;
}

#contact-container > div {
    rotate: 45deg;
    width: 65%;
    aspect-ratio: 1;
    background-color: var(--primaryNeutral);
    border-radius: 1%;

    
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#contact-container > div > div {
    width: 100%;
    height: 100%;
    rotate: -45deg;
    text-align: center;

    display: flex;
    align-items: center; 
    justify-content: center; 
}

#contact-container > div > div > div > * {
    color: var(--primaryContrast);
    font-family: "Space Mono", monospace;
}

#contact-container > div > div > div > h4 {
    font-weight: 400;
}

/* - - - > Printer Start < - - -*/

#printer-animation-container {
    width: 80%;
    margin: auto;
    height: 450px;
    margin-top: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#printer-animation-printer-container {
    background-color: white;
}

#printer-animation-container > div{
    width: 50%;
    max-width: 600px;
}

#printer-animation-container > div {
    box-shadow: none;
}

#printer-animation-container > div:hover {
    box-shadow: none;
}

#printer-animation-desc-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
}

#printer-animation-desc-container > div {
    width: 100%;
}

#printer-animation-desc-container > div > h1 {
    color: var(--black);
    transition: color 1s;

    width:fit-content;
    padding: 0px 10px;
    margin-left: 75px;

    text-align: center;
}

#printer-animation-desc-container > a{
    text-decoration: none;
    width: max-content;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;

    border-radius: 5px;

    background-color: var(--primaryContrast);
    color: var(--primaryNeutral);
}

#printer-animation-desc-container > div > h1:hover {
    background-image: linear-gradient(45deg, var(--orangeGradient), var(--purpleGradient));
    
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
}


/* - - - > Night Mode Start < - - -*/

@media (prefers-color-scheme: dark) {
    #contact-container > div {
        background-color: var(--primaryDarkGrey);
    }

    #contact-container > div > div > div > * {
        color: var(--primaryContrast);
        font-family: "Space Mono", monospace;
    }
}

/* 
Phone (500px - 1023px)
Tablet (1024px - 1439px)
Laptop (1440px - 1919px)
Desktop (1920px - 2500px)
*/
@media (max-width: 500px) {

}

@media (max-width: 1023px) {
    #contact-container > div {
        rotate: 0deg !important;
        width: 100% !important;
    }

     #contact-container > div > div{
        rotate: 0deg !important;
    }
    
    #event-container {
        padding-top: 0px !important;
    }

    #eventContent {
        flex-wrap:wrap;
        height: 50%;
    }

    #event-container {
        height: 800px;
    }

    #eventContent > div {
        width: 80%;
        margin: 15px 0px;
    }
}

@media (max-width: 1439px) {
    #banner-taline-outer {
        z-index: 1;
    }
}

@media (max-width: 1919px) {

}

@media (max-width: 2500px) {

}